<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./"/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.ss 'CET', Europe/Paris} ${LOG_LEVEL_PATTERN:-%5p} %-40.40logger{39} --- %m%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <logger name="it.quantyca.console" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>